[Desktop Entry]
Name=虾米
Comment=
Exec=/media/sonichy/job/HY/Linux/Qt/XiaMi/XiaMi
Icon=/media/sonichy/job/HY/Linux/Qt/XiaMi/icon.svg
Path=/media/sonichy/job/HY/Linux/Qt/XiaMi
Terminal=false
Type=Application
MimeType=
Categories=